flows.json
[
    {
        "id": "72defc5f69d1efd0",
        "type": "tab",
        "label": "SolarEv",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4e3e2f5365a741a8",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01pvPower3",
        "topic": "Mi01pvPower3",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 560,
        "wires": [
            [
                "b113fb620f41453c",
                "6a5667c826455085",
                "f2464a4887d77dc2"
            ]
        ]
    },
    {
        "id": "b113fb620f41453c",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 290,
        "y": 560,
        "wires": []
    },
    {
        "id": "47a0fd43985ac71d",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01pvPower4",
        "topic": "Mi01pvPower4",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 620,
        "wires": [
            [
                "bc9f19fb80dc9367",
                "6a5667c826455085",
                "04177f4145295552"
            ]
        ]
    },
    {
        "id": "bc9f19fb80dc9367",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "PV4W.Dbg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 290,
        "y": 620,
        "wires": []
    },
    {
        "id": "234d770982602ef0",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01_totalW",
        "topic": "Mi01_totalW",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 780,
        "wires": [
            [
                "5c31c3a547feee92",
                "2c2fe3900f7d9df5",
                "4347b0271021cfaa",
                "6a5667c826455085"
            ]
        ]
    },
    {
        "id": "5c31c3a547feee92",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "totW.Dbg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 280,
        "y": 780,
        "wires": []
    },
    {
        "id": "bb814846a0ecc840",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "ImpExpW",
        "topic": "ImpExpW",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 920,
        "wires": [
            [
                "5e227eec761db4f8",
                "34e36c7fa118d72f",
                "4347b0271021cfaa"
            ]
        ]
    },
    {
        "id": "5e227eec761db4f8",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "I.Dbg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 310,
        "y": 900,
        "wires": []
    },
    {
        "id": "e2dcdc1d913f7bd6",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "ConsumW",
        "topic": "ConsumW",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 980,
        "wires": [
            [
                "a0a635cec163118c",
                "e9419382dcd7640c",
                "4347b0271021cfaa"
            ]
        ]
    },
    {
        "id": "a0a635cec163118c",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "consum",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 320,
        "y": 960,
        "wires": []
    },
    {
        "id": "4928ae365386f6ec",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Volt",
        "topic": "Volt",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 1040,
        "wires": [
            [
                "648c28a49a669662",
                "9a47923df57d6000"
            ]
        ]
    },
    {
        "id": "648c28a49a669662",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "V.Dbg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 310,
        "y": 1020,
        "wires": []
    },
    {
        "id": "ec625a5e860e8bf2",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Hz",
        "topic": "Hz",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 1100,
        "wires": [
            [
                "e4a991c5d9a69568",
                "2031f54ec1e9c59a"
            ]
        ]
    },
    {
        "id": "e4a991c5d9a69568",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "Hz.Dbg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 320,
        "y": 1080,
        "wires": []
    },
    {
        "id": "38e96eedb31fb5b5",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01EnergiePV3",
        "topic": "Mi01EnergiePV3",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 1320,
        "wires": [
            [
                "bea4629fb615bfec",
                "cd7bf9ab8cf2b256",
                "63e29e22c0383ad0",
                "1785b3556f6aa07a"
            ]
        ]
    },
    {
        "id": "bea4629fb615bfec",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "PV3.Dbg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 320,
        "y": 1320,
        "wires": []
    },
    {
        "id": "2e929dda2283def2",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01EnergiePV4",
        "topic": "Mi01EnergiePV4",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 1380,
        "wires": [
            [
                "558b709bff98be40",
                "cd7bf9ab8cf2b256",
                "02479e63ded9d5a6",
                "1785b3556f6aa07a"
            ]
        ]
    },
    {
        "id": "558b709bff98be40",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "PV4.Dbg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 320,
        "y": 1380,
        "wires": []
    },
    {
        "id": "9171b1e7bd495919",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01StsPort3",
        "topic": "Mi01StsPort3",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 280,
        "wires": [
            [
                "e2220ea813341568"
            ]
        ]
    },
    {
        "id": "bd4b45d7e7b9b04e",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 390,
        "y": 280,
        "wires": []
    },
    {
        "id": "8109560fd4e95a81",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01StsPort4",
        "topic": "Mi01StsPort4",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 340,
        "wires": [
            [
                "2511e7be3722e37d"
            ]
        ]
    },
    {
        "id": "58f9028e5d8bf91b",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 390,
        "y": 340,
        "wires": []
    },
    {
        "id": "2c2fe3900f7d9df5",
        "type": "ui_gauge",
        "z": "72defc5f69d1efd0",
        "name": "",
        "group": "fd39305ddaa723d4",
        "order": 1,
        "width": 3,
        "height": 2,
        "gtype": "donut",
        "title": "Power MI1500",
        "label": "W",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "1500",
        "colors": [
            "#2ca02c",
            "#2ca02c",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 800,
        "y": 780,
        "wires": []
    },
    {
        "id": "34e36c7fa118d72f",
        "type": "ui_gauge",
        "z": "72defc5f69d1efd0",
        "name": "",
        "group": "fd39305ddaa723d4",
        "order": 3,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "-Imp/Exp+",
        "label": "W",
        "format": "{{value | number:0}}",
        "min": "-1000",
        "max": "1000",
        "colors": [
            "#8ae234",
            "#ef2929",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 790,
        "y": 920,
        "wires": []
    },
    {
        "id": "e9419382dcd7640c",
        "type": "ui_gauge",
        "z": "72defc5f69d1efd0",
        "name": "",
        "group": "fd39305ddaa723d4",
        "order": 2,
        "width": 3,
        "height": 2,
        "gtype": "donut",
        "title": "Consumption",
        "label": "W",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "2500",
        "colors": [
            "#e9b96e",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 790,
        "y": 980,
        "wires": []
    },
    {
        "id": "9a47923df57d6000",
        "type": "ui_gauge",
        "z": "72defc5f69d1efd0",
        "name": "",
        "group": "c7287de07f66e3d3",
        "order": 1,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "U Grid ",
        "label": "V",
        "format": "{{value}}",
        "min": "190",
        "max": "280",
        "colors": [
            "#00b500",
            "#cc0000",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 770,
        "y": 1040,
        "wires": []
    },
    {
        "id": "2031f54ec1e9c59a",
        "type": "ui_gauge",
        "z": "72defc5f69d1efd0",
        "name": "",
        "group": "c7287de07f66e3d3",
        "order": 2,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "F Grid ",
        "label": "Hz",
        "format": "{{value}}",
        "min": "40",
        "max": "60",
        "colors": [
            "#00b500",
            "#40bfb2",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 770,
        "y": 1100,
        "wires": []
    },
    {
        "id": "6a5667c826455085",
        "type": "ui_chart",
        "z": "72defc5f69d1efd0",
        "name": "",
        "group": "8a47e594df31dc79",
        "order": 2,
        "width": 11,
        "height": 6,
        "label": "Power all PV",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "1500",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#729fcf",
            "#e9b96e",
            "#ff7f0e",
            "#888a85",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "4347b0271021cfaa",
        "type": "ui_chart",
        "z": "72defc5f69d1efd0",
        "name": "",
        "group": "8a47e594df31dc79",
        "order": 1,
        "width": 11,
        "height": 6,
        "label": "All Power [W]",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-1500",
        "ymax": "1500",
        "removeOlder": "9",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#2ca02c",
            "#ef2929",
            "#fcaf3e",
            "#ef2929",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "60c9539a51769ebc",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Day",
        "topic": "Day",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 20,
        "wires": [
            [
                "2d66768d411220d9",
                "594b63580a5247fb"
            ]
        ]
    },
    {
        "id": "132804fe9b51f8df",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Time",
        "topic": "Time",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 80,
        "wires": [
            [
                "356b6d489174db22",
                "ea1ae6ec23b43c1c"
            ]
        ]
    },
    {
        "id": "356b6d489174db22",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 190,
        "y": 80,
        "wires": []
    },
    {
        "id": "2d66768d411220d9",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 190,
        "y": 20,
        "wires": []
    },
    {
        "id": "594b63580a5247fb",
        "type": "ui_text",
        "z": "72defc5f69d1efd0",
        "group": "66c35f9ebd1c7a31",
        "order": 6,
        "width": 3,
        "height": 2,
        "name": "Day",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 370,
        "y": 20,
        "wires": []
    },
    {
        "id": "ea1ae6ec23b43c1c",
        "type": "ui_text",
        "z": "72defc5f69d1efd0",
        "group": "c7287de07f66e3d3",
        "order": 5,
        "width": 3,
        "height": 2,
        "name": "Time",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "cd7bf9ab8cf2b256",
        "type": "function",
        "z": "72defc5f69d1efd0",
        "d": true,
        "name": "TotalEnergy",
        "func": "var topic1=msg.topic;\nvar topic2=msg.topic;\nvar topic3=msg.topic;\nvar topic4=msg.topic;\nvar number1 ;\nvar number2 ;\nvar number3 ;\nvar number4 ;\n\nif (topic1==\"Mi01EnergiePV1\"){\n    number1 = parseFloat(msg.payload);\n}\nif (topic2==\"Mi01EnergiePV2\"){\n    number2 = parseFloat(msg.payload);\n}\nif (topic3==\"Mi01EnergiePV3\"){\n    number3 = parseFloat(msg.payload);\n}\nif (topic4==\"Mi01EnergiePV4\"){\n    number4 = parseFloat(msg.payload);\n}\nvar sum = Number(Number(number1)+Number(number2)+Number(number3)+Number(number4));\n\nmsg.payload=sum;\n\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 130,
        "y": 1440,
        "wires": [
            [
                "748b7666b4734357"
            ]
        ]
    },
    {
        "id": "748b7666b4734357",
        "type": "ui_gauge",
        "z": "72defc5f69d1efd0",
        "name": "",
        "group": "66c35f9ebd1c7a31",
        "order": 3,
        "width": 3,
        "height": 2,
        "gtype": "donut",
        "title": "Energy today",
        "label": "Wh",
        "format": "{{value | number:0}}",
        "min": 0,
        "max": "15000",
        "colors": [
            "#2cfcc7",
            "#2cfcc7",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 790,
        "y": 1440,
        "wires": []
    },
    {
        "id": "58674201f0c7574b",
        "type": "ui_template",
        "z": "72defc5f69d1efd0",
        "group": "aa4868b6.599898",
        "name": "Solar Template",
        "order": 1,
        "width": 1,
        "height": 1,
        "format": "<style>\n.md-toolbar-tools::after { \n    content: \"Pi4/Ev Solar Power\";\n    margin-left: 30%;\n    color: yellow;\n    font-weight: bold;\n}\n</style>\n\n<style>\nbody {\n        font-size:0.8em;\n#        background-color:#E6F7FF !important;\n    }\nmd-card {\n        border-bottom: 1px solid #575757;\n    }\n.nr-dashboard-cardpanel > p {\n        margin-top: 3px !important;\n        margin-bottom: 3px !important;\n        min-height: 23px !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "global",
        "className": "",
        "x": 900,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "8cc516f2feafbe0b",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Limiting",
        "topic": "Limiting",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 2040,
        "wires": [
            [
                "98ec37b5e6bb4490",
                "424c0b4bfeb8bfea"
            ]
        ]
    },
    {
        "id": "98ec37b5e6bb4490",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 330,
        "y": 2020,
        "wires": []
    },
    {
        "id": "424c0b4bfeb8bfea",
        "type": "ui_gauge",
        "z": "72defc5f69d1efd0",
        "name": "Limit",
        "group": "c7287de07f66e3d3",
        "order": 3,
        "width": 3,
        "height": 2,
        "gtype": "compass",
        "title": "Limit",
        "label": "%/W",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 770,
        "y": 2040,
        "wires": []
    },
    {
        "id": "6f2bc6b19dea2a9e",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "ImportEnergy",
        "topic": "ImportEnergy",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 2100,
        "wires": [
            [
                "4023c17e0c62f0f2",
                "dff5a7ad888a4b2c"
            ]
        ]
    },
    {
        "id": "4023c17e0c62f0f2",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 330,
        "y": 2080,
        "wires": []
    },
    {
        "id": "dff5a7ad888a4b2c",
        "type": "ui_gauge",
        "z": "72defc5f69d1efd0",
        "name": "ImportEnergy",
        "group": "66c35f9ebd1c7a31",
        "order": 1,
        "width": 3,
        "height": 2,
        "gtype": "donut",
        "title": "ImportEnergy",
        "label": "kWh",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#fce94f",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 800,
        "y": 2100,
        "wires": []
    },
    {
        "id": "977e39c96291116e",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "ExportEnergy",
        "topic": "ExportEnergy",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 2160,
        "wires": [
            [
                "821f1f6fb5ed2d8b",
                "bae5ec3d49b628bc"
            ]
        ]
    },
    {
        "id": "821f1f6fb5ed2d8b",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 330,
        "y": 2140,
        "wires": []
    },
    {
        "id": "bae5ec3d49b628bc",
        "type": "ui_gauge",
        "z": "72defc5f69d1efd0",
        "name": "ExportEnergy",
        "group": "66c35f9ebd1c7a31",
        "order": 2,
        "width": 3,
        "height": 2,
        "gtype": "donut",
        "title": "ExportEnergy",
        "label": "kWh",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#cc0000",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 800,
        "y": 2160,
        "wires": []
    },
    {
        "id": "4e9aab6ac8adf79f",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Error",
        "topic": "Error",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 50,
        "y": 2220,
        "wires": [
            [
                "e81c5de043ef0fa2",
                "4925feeb5b0dddd0"
            ]
        ]
    },
    {
        "id": "e81c5de043ef0fa2",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 330,
        "y": 2200,
        "wires": []
    },
    {
        "id": "4925feeb5b0dddd0",
        "type": "ui_text",
        "z": "72defc5f69d1efd0",
        "group": "fd39305ddaa723d4",
        "order": 5,
        "width": 3,
        "height": 2,
        "name": "error",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 770,
        "y": 2220,
        "wires": []
    },
    {
        "id": "c656af135a9b7752",
        "type": "ui_chart",
        "z": "72defc5f69d1efd0",
        "name": "PVStatus Bar",
        "group": "c7287de07f66e3d3",
        "order": 4,
        "width": 3,
        "height": 4,
        "label": "PVStatus",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "8",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#729fcf",
            "#e9b96e",
            "#ff7f0e",
            "#888a85",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "e2220ea813341568",
        "type": "function",
        "z": "72defc5f69d1efd0",
        "name": "PV3",
        "func": "msg.topic=\"P3\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 280,
        "wires": [
            [
                "c656af135a9b7752",
                "bd4b45d7e7b9b04e"
            ]
        ]
    },
    {
        "id": "2511e7be3722e37d",
        "type": "function",
        "z": "72defc5f69d1efd0",
        "name": "PV4",
        "func": "msg.topic=\"P4\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 340,
        "wires": [
            [
                "c656af135a9b7752",
                "58f9028e5d8bf91b"
            ]
        ]
    },
    {
        "id": "96a3a0bbdc769115",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01_UPv3",
        "topic": "Mi01_UPv3",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 1640,
        "wires": [
            [
                "5f75df1dc61c373a",
                "4249ecdcaead4f3b"
            ]
        ]
    },
    {
        "id": "5f75df1dc61c373a",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "PV3.Dbg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 320,
        "y": 1640,
        "wires": []
    },
    {
        "id": "8f2d1a6f1ba6f691",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01_IPv3",
        "topic": "Mi01_IPv3",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 1880,
        "wires": [
            [
                "b8b4f9ef42b2de76",
                "272a9eeb03a2ae21"
            ]
        ]
    },
    {
        "id": "b8b4f9ef42b2de76",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "Mi01_IPv3_debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 1880,
        "wires": []
    },
    {
        "id": "1cc3721436c92dd4",
        "type": "ui_chart",
        "z": "72defc5f69d1efd0",
        "name": "Energy Bar",
        "group": "66c35f9ebd1c7a31",
        "order": 5,
        "width": 3,
        "height": 4,
        "label": "Energy [Wh]",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#729fcf",
            "#e9b96e",
            "#ff7f0e",
            "#888a85",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "cfe0d719d7be67cb",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01_UPv4",
        "topic": "Mi01_UPv4",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 1700,
        "wires": [
            [
                "f594c13923a2b48d",
                "4249ecdcaead4f3b"
            ]
        ]
    },
    {
        "id": "f594c13923a2b48d",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "PV4_debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 330,
        "y": 1700,
        "wires": []
    },
    {
        "id": "d628d022e7038ff1",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01_IPv4",
        "topic": "Mi01_IPv4",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 1940,
        "wires": [
            [
                "3191e0479b5d9683",
                "272a9eeb03a2ae21"
            ]
        ]
    },
    {
        "id": "3191e0479b5d9683",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "Mi01_IPv4_debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 1940,
        "wires": []
    },
    {
        "id": "272a9eeb03a2ae21",
        "type": "ui_chart",
        "z": "72defc5f69d1efd0",
        "name": "I Panels[A]",
        "group": "8a47e594df31dc79",
        "order": 3,
        "width": 11,
        "height": 5,
        "label": "I Panels [A]",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "11",
        "removeOlder": "11",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#729fcf",
            "#e9b96e",
            "#ff7f0e",
            "#888a85",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 1860,
        "wires": [
            []
        ]
    },
    {
        "id": "4249ecdcaead4f3b",
        "type": "ui_chart",
        "z": "72defc5f69d1efd0",
        "name": "U Panels [V]",
        "group": "8a47e594df31dc79",
        "order": 4,
        "width": 11,
        "height": 5,
        "label": "U Panels [V]",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "32",
        "ymax": "50",
        "removeOlder": "10",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#729fcf",
            "#e9b96e",
            "#ff7f0e",
            "#888a85",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 1620,
        "wires": [
            []
        ]
    },
    {
        "id": "63e29e22c0383ad0",
        "type": "function",
        "z": "72defc5f69d1efd0",
        "name": "PV3",
        "func": "msg.topic=\"P3\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1320,
        "wires": [
            [
                "1cc3721436c92dd4"
            ]
        ]
    },
    {
        "id": "02479e63ded9d5a6",
        "type": "function",
        "z": "72defc5f69d1efd0",
        "name": "PV4",
        "func": "msg.topic=\"P4\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1380,
        "wires": [
            [
                "1cc3721436c92dd4"
            ]
        ]
    },
    {
        "id": "f2464a4887d77dc2",
        "type": "function",
        "z": "72defc5f69d1efd0",
        "name": "PV3",
        "func": "msg.topic=\"P3\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 560,
        "wires": [
            [
                "2cc6ccacee7f191b"
            ]
        ]
    },
    {
        "id": "04177f4145295552",
        "type": "function",
        "z": "72defc5f69d1efd0",
        "name": "PV4",
        "func": "msg.topic=\"P4\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 620,
        "wires": [
            [
                "2cc6ccacee7f191b"
            ]
        ]
    },
    {
        "id": "2cc6ccacee7f191b",
        "type": "ui_chart",
        "z": "72defc5f69d1efd0",
        "name": "Power [W] Bar",
        "group": "fd39305ddaa723d4",
        "order": 4,
        "width": 3,
        "height": 4,
        "label": "Power [W] ",
        "chartType": "bar",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#729fcf",
            "#e9b96e",
            "#ff7f0e",
            "#888a85",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "4ae17f7d2bc6af81",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "WRtemp",
        "topic": "WRtemp",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 2300,
        "wires": [
            [
                "05d776100b7e4351",
                "46a8718356cd3d7b"
            ]
        ]
    },
    {
        "id": "05d776100b7e4351",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 330,
        "y": 2280,
        "wires": []
    },
    {
        "id": "46a8718356cd3d7b",
        "type": "ui_gauge",
        "z": "72defc5f69d1efd0",
        "name": "",
        "group": "fd39305ddaa723d4",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatur",
        "label": "C",
        "format": "{{value}}",
        "min": 0,
        "max": "70",
        "colors": [
            "#fcaf3e",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 790,
        "y": 2300,
        "wires": []
    },
    {
        "id": "5a5b972912e22cc4",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01_UPv1",
        "topic": "Mi01_UPv1",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 1540,
        "wires": [
            [
                "798433d6dba532a7",
                "4249ecdcaead4f3b"
            ]
        ]
    },
    {
        "id": "798433d6dba532a7",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "PV1.Dbg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 320,
        "y": 1540,
        "wires": []
    },
    {
        "id": "c0ac409f2a849ee8",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01_IPv1",
        "topic": "Mi01_IPv1",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 1780,
        "wires": [
            [
                "ac05b61ca90d1958",
                "272a9eeb03a2ae21"
            ]
        ]
    },
    {
        "id": "ac05b61ca90d1958",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "Mi01_IPv1_debug",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 350,
        "y": 1780,
        "wires": []
    },
    {
        "id": "bdd30564d2eec282",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01EnergiePV1",
        "topic": "Mi01EnergiePV1",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 1200,
        "wires": [
            [
                "00b9e0157f871596",
                "970f7b81d69c7d55",
                "cd7bf9ab8cf2b256",
                "1785b3556f6aa07a"
            ]
        ]
    },
    {
        "id": "00b9e0157f871596",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "PV1.Dbg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 320,
        "y": 1200,
        "wires": []
    },
    {
        "id": "970f7b81d69c7d55",
        "type": "function",
        "z": "72defc5f69d1efd0",
        "name": "PV1",
        "func": "msg.topic=\"P1\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1200,
        "wires": [
            [
                "1cc3721436c92dd4"
            ]
        ]
    },
    {
        "id": "c26a1a98c45cd2ca",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01pvPower1",
        "topic": "Mi01pvPower1",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 440,
        "wires": [
            [
                "0ebf4123459f5af3",
                "38f67eb4c8ebd69e",
                "6a5667c826455085"
            ]
        ]
    },
    {
        "id": "0ebf4123459f5af3",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "PV1.Dbg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 280,
        "y": 440,
        "wires": []
    },
    {
        "id": "38f67eb4c8ebd69e",
        "type": "function",
        "z": "72defc5f69d1efd0",
        "name": "PV1",
        "func": "msg.topic=\"P1\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 440,
        "wires": [
            [
                "2cc6ccacee7f191b"
            ]
        ]
    },
    {
        "id": "192110a27914a867",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01StsPort1",
        "topic": "Mi01StsPort1",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 180,
        "wires": [
            [
                "9af68cbdb7786524"
            ]
        ]
    },
    {
        "id": "499c40b210f18f4f",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 390,
        "y": 180,
        "wires": []
    },
    {
        "id": "9af68cbdb7786524",
        "type": "function",
        "z": "72defc5f69d1efd0",
        "name": "PV1",
        "func": "msg.topic=\"P1\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 180,
        "wires": [
            [
                "499c40b210f18f4f",
                "c656af135a9b7752"
            ]
        ]
    },
    {
        "id": "9653467bb752d9e1",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01StsPort2",
        "topic": "Mi01StsPort2",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 240,
        "wires": [
            [
                "0bc979af5c5f0677"
            ]
        ]
    },
    {
        "id": "b2cef4491f144ff7",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 390,
        "y": 240,
        "wires": []
    },
    {
        "id": "0bc979af5c5f0677",
        "type": "function",
        "z": "72defc5f69d1efd0",
        "name": "PV2",
        "func": "msg.topic=\"P2\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 240,
        "wires": [
            [
                "b2cef4491f144ff7",
                "c656af135a9b7752"
            ]
        ]
    },
    {
        "id": "574539ac5c357121",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01pvPower2",
        "topic": "Mi01pvPower2",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 500,
        "wires": [
            [
                "f2abaac6e7bdb2a2",
                "fa83e19e3ce32d65",
                "6a5667c826455085"
            ]
        ]
    },
    {
        "id": "f2abaac6e7bdb2a2",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 290,
        "y": 500,
        "wires": []
    },
    {
        "id": "fa83e19e3ce32d65",
        "type": "function",
        "z": "72defc5f69d1efd0",
        "name": "PV2",
        "func": "msg.topic=\"P2\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 500,
        "wires": [
            [
                "2cc6ccacee7f191b"
            ]
        ]
    },
    {
        "id": "4cf750179aba5b2c",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01EnergiePV2",
        "topic": "Mi01EnergiePV2",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 80,
        "y": 1260,
        "wires": [
            [
                "1f810aac1e3726b4",
                "49e3e64663bb25ce",
                "cd7bf9ab8cf2b256",
                "1785b3556f6aa07a"
            ]
        ]
    },
    {
        "id": "1f810aac1e3726b4",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "PV2.Dbg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 320,
        "y": 1260,
        "wires": []
    },
    {
        "id": "49e3e64663bb25ce",
        "type": "function",
        "z": "72defc5f69d1efd0",
        "name": "PV2",
        "func": "msg.topic=\"P2\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 1260,
        "wires": [
            [
                "1cc3721436c92dd4"
            ]
        ]
    },
    {
        "id": "cac5a577fce8cae5",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01_UPv2",
        "topic": "Mi01_UPv2",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 70,
        "y": 1600,
        "wires": [
            [
                "ae2c52361989b3d3",
                "4249ecdcaead4f3b"
            ]
        ]
    },
    {
        "id": "ae2c52361989b3d3",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "PV1.Dbg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 320,
        "y": 1600,
        "wires": []
    },
    {
        "id": "329c088535029168",
        "type": "mqtt in",
        "z": "72defc5f69d1efd0",
        "name": "Mi01_IPv2",
        "topic": "Mi01_IPv2",
        "qos": "2",
        "datatype": "auto",
        "broker": "70279559360e8a4a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 60,
        "y": 1840,
        "wires": [
            [
                "75e2e4373e6325d9",
                "272a9eeb03a2ae21"
            ]
        ]
    },
    {
        "id": "75e2e4373e6325d9",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "PV2.Dbg",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 320,
        "y": 1840,
        "wires": []
    },
    {
        "id": "4983f3a84e969f7b",
        "type": "debug",
        "z": "72defc5f69d1efd0",
        "name": "EnergyDbg",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 530,
        "y": 1420,
        "wires": []
    },
    {
        "id": "1785b3556f6aa07a",
        "type": "sum",
        "z": "72defc5f69d1efd0",
        "name": "",
        "topic": "",
        "x": 310,
        "y": 1440,
        "wires": [
            [
                "4983f3a84e969f7b",
                "748b7666b4734357"
            ]
        ]
    },
    {
        "id": "70279559360e8a4a",
        "type": "mqtt-broker",
        "name": "ToeEvPi4",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "fd39305ddaa723d4",
        "type": "ui_group",
        "name": "Current Power",
        "tab": "cb3390da4d884a3b",
        "order": 2,
        "disp": true,
        "width": "3",
        "collapse": true,
        "className": ""
    },
    {
        "id": "c7287de07f66e3d3",
        "type": "ui_group",
        "name": "Status",
        "tab": "cb3390da4d884a3b",
        "order": 4,
        "disp": true,
        "width": 3,
        "collapse": true,
        "className": ""
    },
    {
        "id": "8a47e594df31dc79",
        "type": "ui_group",
        "name": "Power history",
        "tab": "cb3390da4d884a3b",
        "order": 1,
        "disp": true,
        "width": 11,
        "collapse": false,
        "className": ""
    },
    {
        "id": "66c35f9ebd1c7a31",
        "type": "ui_group",
        "name": "Energy",
        "tab": "cb3390da4d884a3b",
        "order": 3,
        "disp": true,
        "width": "3",
        "collapse": true,
        "className": ""
    },
    {
        "id": "aa4868b6.599898",
        "type": "ui_group",
        "name": "Template",
        "tab": "cb3390da4d884a3b",
        "order": 5,
        "disp": false,
        "width": 1,
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb3390da4d884a3b",
        "type": "ui_tab",
        "name": "Hoymiles MI1500",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]